/**
Current breaking width is 600px
*/
:root {
  --main-bg-color: rgb(66, 66, 66);
  --main-selection-color: rgb(218, 218, 218);
}
main {
  min-height: 70vh;
}

body {
  font-family: "IM Fell English SC", serif;
  background-image: url("../images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  background-color: var(--main-bg-color);
  margin-bottom: 30px;
  text-align: center;
  height: 6em;
  border-radius: 25px;
}
footer {
  background-color: var(--main-bg-color);
  margin-top: 30px;
  text-align: center;
  height: 6em;
  border-radius: 25px;
}
form {
  background-color: var(--main-bg-color);
  width: 20em;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
  text-align: center;
}

select {
  appearance: none;
  background-color: var(--main-selection-color);
  border: solid 1px #ccc;
  padding: 5px 1em 5px 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  text-align: center;
  border-radius: 10px;
}

footer img {
  margin-top: 1em;
  height: 3em;
  width: 3em;
  margin-left: 3em;
}
.title {
  display: inline;
  color: aliceblue;
  font-family: "IM Fell English SC", serif;
}
.logo {
  position: absolute;
  left: 10px;
  top: 1em;
  right: auto;
}
.navBtn {
  background-color: var(--main-selection-color);
  border-radius: 10px;
  padding: 5px;
  font-family: "IM Fell English SC", serif;
}
.navBtn:hover {
  background-color: rgb(0, 0, 0);
  color: var(--main-selection-color);
}
.items-span {
  background-color: var(--main-selection-color);
  font-size: large;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card {
  margin: auto;
  width: 20em;
  background-color: var(--main-bg-color);
  border-radius: 25px;
  padding: 10px;
  background-image: url(../images/bg.png);
  background-size: contain;
}

.card-title {
  background-color: var(--main-selection-color);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-value {
  background-color: var(--main-selection-color);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.card-desc {
  background-color: var(--main-selection-color);
  border-radius: 25px;
  padding: 10px;
}
