/**
Current breaking width is 600px
*/
body {
  font-family: "IM Fell English SC", serif;
}
header {
  background-color: rgb(66, 66, 66);
  margin-bottom: 30px;
  text-align: center;
  height: 6em;
}
footer {
  background-color: rgb(66, 66, 66);
  margin-top: 30px;
  text-align: center;
  height: 6em;
}
form {
  background-color: rgb(66, 66, 66);
  width: 20em;
  border-radius: 25px;
  margin: auto;
  padding: 10px;
  text-align: center;
}
select {
  margin: auto;
  display: block;
  background-color: rgb(218, 218, 218);
}
.title {
  display: inline;
  color: aliceblue;
  font-family: "IM Fell English SC", serif;
}
.logo {
  position: absolute;
  left: 10px;
  top: 1em;
  right: auto;
}
.vehicles-span {
  background-color: rgb(218, 218, 218);
  font-size: large;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.card {
  margin: auto;
  width: 20em;
  background-color: rgb(66, 66, 66);
  border-radius: 25px;
  padding: 10px;
  background-image: url(../images/bg.png);
  background-size: contain;
}

.card-title {
  background-color: rgb(218, 218, 218);
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
}

.card-value {
  background-color: rgb(218, 218, 218);
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.card-desc {
  background-color: rgb(218, 218, 218);
  border-radius: 25px;
  padding: 10px;
}

footer img {
  margin-top: 1em;
  height: 3em;
  width: 3em;
  margin-left: 3em;
}

select {
  appearance: none;
  background-color: rgb(218, 218, 218);
  border: solid 1px #ccc;
  padding: 5px 1em 5px 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  text-align: center;
  border-radius: 10px;
}
